body { font-size: 55%; font-family: Arial, sans-serif; }
/*demo styles*/
table {width: 350px; height: 150px; border-collapse: collapse; margin-left: 5px; border:1px solid black; }
th {text-align: center; border: 1px solid black; padding: 2px;font-weight:normal;}
td {text-align: center; border: 1px solid black;  padding: 2px;}
td.hover { color: orange; }
td.input { padding: 0; }
td input, td input:focus { border: 1px solid orange; outline: none; padding: 2px; margin: 1px; width: 20px; }
caption {font-size: 0.8em;  text-align: center;    }
.visualize { margin: 60px 0 0 20px; }

.editableNote { background: #FEFBE2; border: 1px solid #8CC264; padding: 10px; margin: 1.5em 0; font-size: 1.2em; }

/*sample alternate styling for info block on Pie Chart */
.visualize-pie .visualize-info { top: 10px; border: 0; right: auto; left: 10px; padding: 0; background: none; }
.visualize-pie ul.visualize-title { font-weight: bold; border: 0; }
.visualize-pie ul.visualize-key li { float: none; }



/*option configurator thingy*/
.chartConfiguratorThingy { border: 1px solid #ddd; padding: 10px; overflow: auto; display: none; }
.chartConfiguratorThingy h2 { font-size: 1.4em; color: #666; }
fieldset { margin: 5px 5px 5px 0; width: 45%; float: left; }
legend { font-size: 1.2em; }
.dependencies { padding: 15px; }
label { width: 90px; display: inline-block; }
